.all-lists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 0 0 30px;
  overflow: auto;
  flex: 1 1 auto;
}

.list {
  padding: 10px;
  margin: 5px 0;
  background-color: inherit;
  color: #fff;
  border: none;
  text-align: left;
  transition: 0.3s;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.list:hover {
  cursor: pointer;
  background-color: rgba(80, 6, 116, 0.6);
}

/* Selected list class */
.all-lists button.active {
  background-color: rgba(153, 14, 215, 0.7);
  font-weight: 600;
  color: #fff;
}

/* Input form for lists styles */
.add-list-form {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  flex: 0 0 auto;
}

.add-list-form__input {
  flex-basis: 92%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #da4fd3;
  min-width: 0;
}

.add-list-form__input:focus {
  box-shadow: 0 0 3pt 2pt #e32ada;
  outline: none;
}

.add-list-form__input:focus:not(:focus-visible) {
  outline: none;
}

.add-list-form__button {
  padding: 10px 15px;
  flex-basis: 8%;
  border-radius: 5px;
  border: 2px solid #da4fd3;
  color: #fff;
  background-color: #3e016a;
  margin-left: 5px;
}

.add-list-form__button:focus {
  box-shadow: 0 0 3pt 2pt #e32ada;
  outline: none;
}

.add-list-form__button:focus:not(:focus-visible) {
  outline: 2px solid #e32ada;
}

.add-list-form__button:hover {
  cursor: pointer;
  background-color: #990ed7;
}

/* List page styles */
.list-page {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 0 30px;
  overflow: auto;
  flex: 1 1 auto;
}

.list-content {
  flex-direction: column;
}

.list-content__title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-content__title {
  padding: 20px 0;
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  color: #fff;
}

.list-delete-button {
  appearance: none;
  margin: 0;
  padding: 10px;
  border-style: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.list-delete-button:hover {
  cursor: pointer;
}

.list-delete-button:active svg {
  transform: scale(0.9);
}

.list-delete-button svg {
  height: 1.5rem;
}

.list-delete-button svg path {
  fill: #fff;
}
