* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: minmax(285px, 30%) 1fr;
  height: 100%;
}

.main-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  background: linear-gradient(rgba(27, 2, 41, 0.5), rgba(85, 0, 255, 0.14)),
    url("../images/background-today.jpg");
  background-size: cover;
  background-position: center;
  background-color: #1b0229;
}

/*Left sidebar styles*/
.left-sidebar {
  /*background: #1b0229*/
  /*  linear-gradient(rgba(27, 2, 41, 0.5), rgba(85, 0, 255, 0.14));*/
  background: linear-gradient(to bottom, rgb(27, 2, 41), rgb(35, 2, 71));
  display: flex;
  flex-direction: column;
  border-right: 2px solid #990ed7;
  justify-content: space-between;
}

::placeholder {
  color: rgba(77, 0, 175, 0.6);
  opacity: 1;
}

.footer {
  grid-area: ft;
  background-color: #1b0229;
  color: #fff;
  text-align: center;
}
