html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1b0229;
}

html,
body {
  height: 100%;
}

.backgroundBlur {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  display: none;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: minmax(300px, 30%) 1fr;
  gap: 2px;
  height: 100%;
  background-color: #990ed7;
  overflow: auto;
}

.main-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  background: linear-gradient(rgba(27, 2, 41, 0.5), rgba(85, 0, 255, 0.14)),
    url("../images/background-today.jpg");
  background-size: cover;
  background-position: center;
  background-color: #1b0229;
  overflow: auto;
}

.sidebarToggleIcon {
  position: absolute;
  z-index: 3;
  pointer-events: none;
}

.sidebarToggleIcon svg path {
  fill: #fff;
}

.closeMenu {
  width: 30px;
  height: 45px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s;
  margin: 5px 10px;
}

.openMenu {
  width: 30px;
  height: 45px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s;
  margin: 5px 10px;
}

#openSidebar {
  display: none;
}

/* Left sidebar styles */
.left-sidebar {
  background: linear-gradient(to bottom, rgb(27, 2, 41), rgb(35, 2, 71));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

::placeholder {
  color: rgba(77, 0, 175, 0.6);
  opacity: 1;
}

@media (max-width: 600px) {
  .left-sidebar {
    height: 100%;
    position: fixed;
    left: 0;
    width: 300px;
    transform: translateX(-300px);
    transition: transform 250ms ease-in-out;
    z-index: 2;
  }

  .main-column {
    grid-column: 1/3;
  }

  .sidebarToggleIcon {
    pointer-events: auto;
  }

  .openMenu {
    opacity: 1;
  }

  .closeMenu:hover,
  .openMenu:hover {
    cursor: pointer;
  }

  #openSidebar:checked ~ .left-sidebar {
    transform: translateX(0);
  }

  #openSidebar:checked ~ .backgroundBlur {
    display: block;
    backdrop-filter: blur(4px);
  }

  #openSidebar:checked ~ .sidebarToggleIcon > .openMenu {
    opacity: 0;
  }

  #openSidebar:checked ~ .sidebarToggleIcon > .closeMenu {
    opacity: 1;
  }
}
