/* Tasks styles */

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(2px);
}

.task__main-part {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.task__main-part__checkbox {
  margin: 0;
  padding: 5px;
}

.task__main-part__checkbox:focus-visible {
  outline: 1px solid #e32ada;
}

.task__main-part__checkbox:checked + label {
  color: rgba(77, 0, 175, 0.6);
  text-decoration: line-through;
}

.task__main-part__label {
  padding-left: 15px;
  /*color: #5402bd;*/
  color: #4d00af;
  display: flex;
  align-items: center;
}

.task__icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task__priority-icon {
  appearance: none;
  margin: 0;
  padding: 5px;
  border-style: none;
  background-color: transparent;
  color: #990ed7;
}

.task__priority-icon-important {
  color: #990ed7;
  text-decoration: line-through;
}

.task__delete-button {
  appearance: none;
  margin: 0;
  padding: 5px;
  border-style: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.task__delete-button:hover {
  cursor: pointer;
}

.task__delete-button svg {
  height: 1rem;
}

.task__delete-button:active svg {
  transform: scale(0.9);
}

/*Input form styles*/
.add-task-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 40px 20px 30px;
}

.add-task-form__input {
  flex: 1000 1 auto;
  margin: 5px 0 5px 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #da4fd3;
}

.add-task-form__input:focus-visible {
  outline: 2px solid #e32ada;
}

.add-task-form__button {
  flex: 1 3 auto;
  padding: 10px 15px;
  margin: 5px 0 5px 10px;
  border-radius: 5px;
  border: 2px solid #da4fd3;
  color: #fff;
  background-color: #3e016a;
}

.add-task-form__button:focus-visible {
  outline: 2px solid #e32ada;
}

.add-task-form__button:hover {
  cursor: pointer;
  background-color: #990ed7;
}

.tasks-list {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
