/* src/styles/style.css */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #1b0229;
}
html,
body {
  height: 100%;
}
.backgroundBlur {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  display: none;
}
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: minmax(300px, 30%) 1fr;
  gap: 2px;
  height: 100%;
  background-color: #990ed7;
  overflow: auto;
}
.main-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  background: linear-gradient(rgba(27, 2, 41, 0.5), rgba(85, 0, 255, 0.14)), url(./background-today-LPKMLMLH.jpg);
  background-size: cover;
  background-position: center;
  background-color: #1b0229;
  overflow: auto;
}
.sidebarToggleIcon {
  position: absolute;
  z-index: 3;
  pointer-events: none;
}
.sidebarToggleIcon svg path {
  fill: #fff;
}
.closeMenu {
  width: 30px;
  height: 45px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s;
  margin: 5px 10px;
}
.openMenu {
  width: 30px;
  height: 45px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s;
  margin: 5px 10px;
}
#openSidebar {
  display: none;
}
.left-sidebar {
  background: linear-gradient(to bottom, rgb(27, 2, 41), rgb(35, 2, 71));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
::placeholder {
  color: rgba(77, 0, 175, 0.6);
  opacity: 1;
}
@media (max-width: 600px) {
  .left-sidebar {
    height: 100%;
    position: fixed;
    left: 0;
    width: 300px;
    transform: translateX(-300px);
    transition: transform 250ms ease-in-out;
    z-index: 2;
  }
  .main-column {
    grid-column: 1/3;
  }
  .sidebarToggleIcon {
    pointer-events: auto;
  }
  .openMenu {
    opacity: 1;
  }
  .closeMenu:hover,
  .openMenu:hover {
    cursor: pointer;
  }
  #openSidebar:checked ~ .left-sidebar {
    transform: translateX(0);
  }
  #openSidebar:checked ~ .backgroundBlur {
    display: block;
    backdrop-filter: blur(4px);
  }
  #openSidebar:checked ~ .sidebarToggleIcon > .openMenu {
    opacity: 0;
  }
  #openSidebar:checked ~ .sidebarToggleIcon > .closeMenu {
    opacity: 1;
  }
}

/* src/styles/tasks.css */
.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(2px);
}
.task__main-part {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.task__main-part__checkbox {
  margin: 0;
  padding: 5px;
}
.task__main-part__checkbox:focus-visible {
  outline: 1px solid #e32ada;
}
.task__main-part__checkbox:checked + label {
  color: rgba(77, 0, 175, 0.6);
  text-decoration: line-through;
}
.task__main-part__label {
  padding-left: 15px;
  color: #4d00af;
  display: flex;
  align-items: center;
}
.task__icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task__priority-icon {
  appearance: none;
  margin: 0;
  padding: 5px;
  border-style: none;
  background-color: transparent;
  color: #990ed7;
}
.task__priority-icon-important {
  color: #990ed7;
  text-decoration: line-through;
}
.task__delete-button {
  appearance: none;
  margin: 0;
  padding: 5px;
  border-style: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.task__delete-button:hover {
  cursor: pointer;
}
.task__delete-button svg {
  height: 1rem;
}
.task__delete-button:active svg {
  transform: scale(0.9);
}
.add-task-form {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  flex: 0 0 auto;
}
.add-task-form__input {
  flex-basis: 92%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #da4fd3;
  min-width: 0;
}
.add-task-form__input:focus {
  box-shadow: 0 0 3pt 2pt #e32ada;
  outline: none;
}
.add-task-form__input:focus:not(:focus-visible) {
  outline: none;
}
.add-task-form__button {
  flex-basis: 8%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #da4fd3;
  color: #fff;
  background-color: #3e016a;
  margin-left: 5px;
}
.add-task-form__button:focus {
  box-shadow: 0 0 3pt 2pt #e32ada;
  outline: none;
}
.add-task-form__button:focus:not(:focus-visible) {
  outline: 2px solid #e32ada;
}
.add-task-form__button:hover {
  cursor: pointer;
  background-color: #990ed7;
}
.tasks-list {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

/* src/styles/lists.css */
.all-lists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 55px 0 0 30px;
  overflow: auto;
  flex: 1 1 auto;
}
.list {
  padding: 10px;
  margin: 5px 0;
  background-color: inherit;
  color: #fff;
  border: none;
  text-align: left;
  transition: 0.3s;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.list:hover {
  cursor: pointer;
  background-color: rgba(80, 6, 116, 0.6);
}
.all-lists button.active {
  background-color: rgba(153, 14, 215, 0.7);
  font-weight: 600;
  color: #fff;
}
.add-list-form {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  flex: 0 0 auto;
}
.add-list-form__input {
  flex-basis: 92%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #da4fd3;
  min-width: 0;
}
.add-list-form__input:focus {
  box-shadow: 0 0 3pt 2pt #e32ada;
  outline: none;
}
.add-list-form__input:focus:not(:focus-visible) {
  outline: none;
}
.add-list-form__button {
  padding: 10px 15px;
  flex-basis: 8%;
  border-radius: 5px;
  border: 2px solid #da4fd3;
  color: #fff;
  background-color: #3e016a;
  margin-left: 5px;
}
.add-list-form__button:focus {
  box-shadow: 0 0 3pt 2pt #e32ada;
  outline: none;
}
.add-list-form__button:focus:not(:focus-visible) {
  outline: 2px solid #e32ada;
}
.add-list-form__button:hover {
  cursor: pointer;
  background-color: #990ed7;
}
.list-page {
  display: flex;
  flex-direction: column;
  padding: 45px 30px 0 30px;
  overflow: auto;
  flex: 1 1 auto;
}
.list-content {
  flex-direction: column;
}
.list-content__title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list-content__title {
  padding: 20px 0;
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  color: #fff;
}
.list-delete-button {
  appearance: none;
  margin: 0;
  padding: 10px;
  border-style: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.list-delete-button:hover {
  cursor: pointer;
}
.list-delete-button:active svg {
  transform: scale(0.9);
}
.list-delete-button svg {
  height: 1.5rem;
}
.list-delete-button svg path {
  fill: #fff;
}
